#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Card Styles */


/* Search Styles */
.Search {
  background: url(img/photo-1543353071-873f17a7a088.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.search-bar-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-width: 200px;
  width: 50%;
}
.script h1 {
  color: #414445;
  font-size: 1.5em;
  font-weight: bold;
  padding: 5% 0 10% 15%;
  text-shadow: 2px 2px #ffffff;
  width: 80%;
}
img {
  padding: 20% 0 0 0;
  width: 20%;
}
.input-wrapper {
  align-items: center;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  box-shadow: 10px 10px 10px #808080;
  display: flex;
  height: 4rem;
  margin: 5% 0 0 0;
  padding: 0 15px;
  width: 100%;
}
input {
  background: transparent;
  border: none;
  font-size: 1em;
  height: 100%;
  margin-left: 5px;
  width: 100%;
}
input[placeholder] {
  color: #9b9191;
  padding: 0 2.5%;
}
input:focus {
  outline: none;
}
#search-icon {
  color: #ccc3c3;
  padding: 0 2% 0 0;
  width: 2em;
}
#search-icon:hover {
  color: #60affe;
}
label {
  color: #60affe;
}
.search-result {
  padding: 10px 20px;
}
.search-result:hover {
  background: #efefef;
}
.results-list {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  margin-top: 1rem;
  overflow-y: auto;
  width: 100%;
}