.results-list {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    margin-top: 1rem;
    overflow-y: auto;
    width: 100%;
}