.input-wrapper {
    align-items: center;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    box-shadow: 10px 10px 10px #808080;
    display: flex;
    height: 4rem;
    margin: 5% 0 0 0;
    padding: 0 15px;
    width: 100%;
}
input {
    background: transparent;
    border: none;
    font-size: 1.25rem;
    height: 100%;
    margin-left: 5px;
    width: 100%;
}
input[placeholder] {
    color: #9b9191;
    padding-left: 2.5%;
}
input:focus {
    outline: none;
}
#search-icon {
    color: #ccc3c3;
}
